@charset "UTF-8";
/* CSS Document */

@media screen and (max-width: 667px) {*{
    -webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;
    box-sizing:border-box;
}}

@font-face {
        font-family: "SukhumvitSet";
    src: url('../css/font/sukhumvitset-webfont.eot');
    src: url('../css/font/sukhumvitset-webfont.eot?#iefix') format('embedded-opentype'),
url('../css/font/sukhumvitset-webfont.woff2') format('woff2'),
url('../css/font/sukhumvitset-webfont.woff') format('woff'),
url('../css/font/sukhumvitset-webfont.ttf') format('truetype'),
url('../css/font/sukhumvitset-webfont.svg#SukhumvitSet') format('svg');
    font-weight: normal;
    font-style: normal;
}



html,body{margin:0; padding:4%; font-family:Helvetica, Arial, sans-serif; background:#070a3d; color:#FFF; font-size:15px; outline:none; height: 100%;}
p{margin:0; padding:0;}
img{max-width:100%; width:auto;}
a{color:#094cbc; text-decoration:none; outline:none;}
a:hover{text-decoration:underline;}
h1,h2,h3{font-family:"SukhumvitSet", Helvetica, Arial, sans-serif; color:#ffcc00;}

